## Data Overview
Importing file and library, and glimpse look of the data

In [1]:
#Importing library 
import pandas as pd
pd.set_option('display.max_columns', 35)

In [2]:
#Importing File
df = pd.read_csv('Data/TMBD_Movie_Dataset.csv')
df.head()

,Unnamed: 0,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,keywords,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level
0,0,135397,tt0369610,32.985763,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,1.363529e+09,High
1,1,76341,tt1392190,28.419936,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,2.284364e+08,High
2,2,262500,tt2908446,13.112507,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,1.852382e+08,High
3,3,140607,tt2488496,11.173104,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,1.868178e+09,High
4,4,168259,tt2820852,9.335014,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,car race|speed|revenge|suspense|car,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,1.316249e+09,High

In [3]:
df.shape

(1287, 24)

In [4]:
df.columns

Index(['Unnamed: 0', 'id', 'imdb_id', 'popularity', 'budget', 'revenue',
       'original_title', 'cast', 'homepage', 'director', 'tagline', 'keywords',
       'overview', 'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj', 'profit', 'popularity_level'],
      dtype='object')

In [5]:
df.dtypes

Unnamed: 0                int64
id                        int64
imdb_id                  object
popularity              float64
budget                  float64
revenue                 float64
original_title           object
cast                     object
homepage                 object
director                 object
tagline                  object
keywords                 object
overview                 object
runtime                   int64
genres                   object
production_companies     object
release_date             object
vote_count                int64
vote_average            float64
release_year              int64
budget_adj              float64
revenue_adj             float64
profit                  float64
popularity_level         object
dtype: object

In [6]:
df.describe()

,Unnamed: 0,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit
count,1287.000000,1287.000000,1287.000000,1.287000e+03,1.287000e+03,1287.000000,1287.000000,1287.000000,1287.000000,1.287000e+03,1.287000e+03,1.287000e+03
mean,4125.843046,52557.491064,1.786022,5.200349e+07,1.762444e+08,110.273504,947.266511,6.279487,2007.017094,5.462994e+07,1.991775e+08,1.242409e+08
std,2671.936574,74450.077163,2.172137,5.514540e+07,2.538156e+08,18.811369,1255.476215,0.795955,8.060503,5.525463e+07,2.968515e+08,2.183462e+08
min,0.000000,11.000000,0.010335,1.000000e+00,4.300000e+01,63.000000,10.000000,2.200000,1961.000000,9.693980e-01,4.300000e+01,-4.139124e+08
25%,1972.000000,5851.500000,0.664783,1.400000e+07,2.565097e+07,97.000000,179.000000,5.800000,2005.000000,1.519180e+07,2.764890e+07,3.142641e+06
50%,3523.000000,20178.000000,1.152354,3.200000e+07,8.208716e+07,107.000000,439.000000,6.300000,2009.000000,3.556927e+07,8.674770e+07,4.524300e+07
75%,6554.500000,62209.500000,2.125342,7.000000e+07,2.140694e+08,121.000000,1173.000000,6.800000,2011.000000,7.630125e+07,2.351178e+08,1.470070e+08
max,10760.000000,333348.000000,32.985763,4.250000e+08,2.781506e+09,201.000000,9767.000000,8.300000,2015.000000,4.250000e+08,2.827124e+09,2.544506e+09

## Data Cleaning 
Check for null value and data types, removing duplicates, unnecessary columns and rows

In [7]:
df.head()

,Unnamed: 0,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,keywords,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level
0,0,135397,tt0369610,32.985763,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,1.363529e+09,High
1,1,76341,tt1392190,28.419936,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,2.284364e+08,High
2,2,262500,tt2908446,13.112507,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,1.852382e+08,High
3,3,140607,tt2488496,11.173104,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,1.868178e+09,High
4,4,168259,tt2820852,9.335014,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,car race|speed|revenge|suspense|car,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,1.316249e+09,High

In [8]:
df.columns

Index(['Unnamed: 0', 'id', 'imdb_id', 'popularity', 'budget', 'revenue',
       'original_title', 'cast', 'homepage', 'director', 'tagline', 'keywords',
       'overview', 'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj', 'profit', 'popularity_level'],
      dtype='object')

In [9]:
#Removing unnecessary columns 
df = df[[#Unnamed: 0,  'id', 'budget', 'revenue','tagline', 'keywords','homepage','overview',
         'imdb_id', 'popularity',
       'original_title', 'cast',  'director', 
        'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj', 'profit', 'popularity_level']].copy()
df.head()

,imdb_id,popularity,original_title,cast,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level
0,tt0369610,32.985763,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,1.363529e+09,High
1,tt1392190,28.419936,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,2.284364e+08,High
2,tt2908446,13.112507,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,1.852382e+08,High
3,tt2488496,11.173104,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,1.868178e+09,High
4,tt2820852,9.335014,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,1.316249e+09,High

In [10]:
#Changing release_date dtypes to datetime and profit, revenue and budget to numeric
df['release_date'] = pd.to_datetime(df['release_date'])
df['revenue_adj'] = pd.to_numeric(df['revenue_adj'])
df['budget_adj'] = pd.to_numeric(df['budget_adj'])
df['profit'] = pd.to_numeric(df['profit'])
df.dtypes

imdb_id                         object
popularity                     float64
original_title                  object
cast                            object
director                        object
runtime                          int64
genres                          object
production_companies            object
release_date            datetime64[ns]
vote_count                       int64
vote_average                   float64
release_year                     int64
budget_adj                     float64
revenue_adj                    float64
profit                         float64
popularity_level                object
dtype: object

Check for missing data

In [11]:
#Check if there's null value
df.isna().sum()

imdb_id                 0
popularity              0
original_title          0
cast                    0
director                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_count              0
vote_average            0
release_year            0
budget_adj              0
revenue_adj             0
profit                  0
popularity_level        1
dtype: int64

In [12]:
#There's 1 null value in popularity level, checking the null value
df.query('popularity_level.isnull()')

,imdb_id,popularity,original_title,cast,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level
910,tt1966566,0.010335,Ð¡Ñ‚Ð°Ð»Ð¸Ð½Ð³Ñ€Ð°Ð´,Thomas Kretschmann|Yanina Studilina|Philippe R...,Fyodor Bondarchuk,131,War|Action,Art Pictures Studio,2013-10-09,64,5.5,2013,2.808100e+07,6.377150e+07,38129518.0,NaN

In [13]:
#Deleting the null value 
df.dropna(subset=['popularity_level'], inplace=True)

Check for duplicate value

In [14]:
#Check for duplicated value
df.loc[df.duplicated()]

#There's no duplicate value

Empty DataFrame
Columns: [imdb_id, popularity, original_title, cast, director, runtime, genres, production_companies, release_date, vote_count, vote_average, release_year, budget_adj, revenue_adj, profit, popularity_level]
Index: []

In [15]:
#Check if there's duplicated imdb_id
df.loc[df.duplicated(subset=['imdb_id'])]

#There's no duplicated imdb_id

Empty DataFrame
Columns: [imdb_id, popularity, original_title, cast, director, runtime, genres, production_companies, release_date, vote_count, vote_average, release_year, budget_adj, revenue_adj, profit, popularity_level]
Index: []

## Data Manipulation

Cleaning columns with multiple value

- Converting columns with multiple values, and set it to 1 value for genres, production_companies and casts
- The first value of the columns will be considered as the 'main' values that will be used for further analysis

In [16]:
#For columns genres, cast and production_companies, only keeps the first value
#Regex Pattern for genres : \w*[^\|]
#Regex Pattern for cast and production_companies : .*?\|

#genres
df['genres'] = df['genres'].str.extract(r'(\w*[^\|])', expand=False)

#company
df['production_companies'] = df['production_companies'].str.extract(r'(.*?\|)', expand=False)
df['production_companies'] = df['production_companies'].str.replace('|','')

#cast
df['cast'] = df['cast'].str.extract(r'(.*?\|)', expand=False)
df['cast'] = df['cast'].str.replace('|','')

df.head()

,imdb_id,popularity,original_title,cast,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level
0,tt0369610,32.985763,Jurassic World,Chris Pratt,Colin Trevorrow,124,Action,Universal Studios,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,1.363529e+09,High
1,tt1392190,28.419936,Mad Max: Fury Road,Tom Hardy,George Miller,120,Action,Village Roadshow Pictures,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,2.284364e+08,High
2,tt2908446,13.112507,Insurgent,Shailene Woodley,Robert Schwentke,119,Adventure,Summit Entertainment,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,1.852382e+08,High
3,tt2488496,11.173104,Star Wars: The Force Awakens,Harrison Ford,J.J. Abrams,136,Action,Lucasfilm,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,1.868178e+09,High
4,tt2820852,9.335014,Furious 7,Vin Diesel,James Wan,137,Action,Universal Pictures,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,1.316249e+09,High

Add category code for genres, cast and production_companies, director and popularity level.

In [17]:
#production company
df['production_companies'] = df['production_companies'].astype('category') 
df['company_code'] = df['production_companies'].cat.codes

In [18]:
#cast
df['cast'] = df['cast'].astype('category') 
df['cast_code'] = df['cast'].cat.codes

In [19]:
#genres
df['genres'] = df['genres'].astype('category') 
df['genres_code'] = df['genres'].cat.codes

In [20]:
#director
df['director'] = df['director'].astype('category') 
df['director_code'] = df['director'].cat.codes

In [21]:
#popularity level, customize num cat because it shows a degree of value

#creating dict for popularity level dictionary
pop_lvl_name = df.popularity_level.unique().tolist()
pop_lvl_num = (['4','3','2','1'])
pop_level_ref = dict(zip(pop_lvl_name,pop_lvl_num))

#assign dictionary to new column
df['popularity_code'] = df['popularity_level'].map(pop_level_ref)

dictionary for production company, casts, director and popularity level code and their names

In [22]:
#Popularity Level 
pop_level_ref

{'High': '4', 'Moderately High': '3', 'Medium': '2', 'Low': '1'}

In [23]:
#Cast
cast_name = df.cast.unique()
cast_code = df.cast_code.unique()
cast_ref = dict(zip(cast_name,cast_code))

In [24]:
#Director
dict_name = df.director.unique()
dict_code = df.director_code.unique()
dict_ref = dict(zip(dict_name,dict_code))

In [25]:
#Genres
genres_name = df.genres.unique()
genres_code = df.genres_code.unique()
genres_ref = dict(zip(genres_name,genres_code))

In [26]:
#Production Company
comp_name = df.production_companies.unique()
comp_code = df.company_code.unique()
comp_ref = dict(zip(comp_name,comp_code))

In [29]:
#Cleaned Dataframe
df

,imdb_id,popularity,original_title,cast,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level,company_code,cast_code,genres_code,director_code,popularity_code
0,tt0369610,32.985763,Jurassic World,Chris Pratt,Colin Trevorrow,124,Action,Universal Studios,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,1.363529e+09,High,299,111,0,128,4
1,tt1392190,28.419936,Mad Max: Fury Road,Tom Hardy,George Miller,120,Action,Village Roadshow Pictures,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,2.284364e+08,High,302,593,0,236,4
2,tt2908446,13.112507,Insurgent,Shailene Woodley,Robert Schwentke,119,Adventure,Summit Entertainment,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,1.852382e+08,High,275,553,1,613,4
3,tt2488496,11.173104,Star Wars: The Force Awakens,Harrison Ford,J.J. Abrams,136,Action,Lucasfilm,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,1.868178e+09,High,175,206,0,272,4
4,tt2820852,9.335014,Furious 7,Vin Diesel,James Wan,137,Action,Universal Pictures,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,1.316249e+09,High,298,608,0,284,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,tt0070328,1.549139,Live and Let Die,Roger Moore,Guy Hamilton,121,Adventure,Eon Productions,1973-07-05,293,6.1,1973,3.437812e+07,7.945168e+08,1.547778e+08,Moderately High,97,505,1,254,3
1283,tt0059800,1.910465,Thunderball,Sean Connery,Terence Young,130,Adventure,Eon Productions,2065-12-16,331,6.3,1965,7.612620e+07,9.771535e+08,1.301957e+08,Moderately High,97,544,1,720,3
1284,tt0064757,1.778746,On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,142,Adventure,Eon Productions,2069-12-12,258,6.4,1969,4.160985e+07,4.872780e+08,7.497449e+07,Moderately High,97,196,1,558,3
1285,tt0077651,1.198849,Halloween,Donald Pleasence,John Carpenter,91,Horror,Compass International Pictures,1978-10-25,522,7.3,1978,1.002810e+06,2.339890e+08,6.970000e+07,Moderately High,66,149,10,331,3
1286,tt0077975,1.157930,Animal House,John Belushi,John Landis,109,Comedy,Universal Pictures,1978-07-27,230,6.7,1978,9.025292e+06,4.713208e+08,1.383000e+08,Moderately High,298,292,3,340,3

In [31]:
df.describe().round(0)

,popularity,runtime,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,company_code,cast_code,genres_code,director_code
count,1286.0,1286.0,1286,1286.0,1286.0,1286.0,1286.0,1.286000e+03,1.286000e+03,1286.0,1286.0,1286.0,1286.0
mean,2.0,110.0,2008-06-27 15:10:21.461897472,948.0,6.0,2007.0,54650580.0,1.992828e+08,1.243079e+08,162.0,318.0,5.0,392.0
min,0.0,63.0,1972-03-15 00:00:00,10.0,2.0,1961.0,1.0,4.300000e+01,-4.139124e+08,-1.0,-1.0,0.0,0.0
25%,1.0,97.0,2006-03-09 06:00:00,179.0,6.0,2005.0,15191800.0,2.754364e+07,3.133386e+06,64.0,158.0,1.0,198.0
50%,1.0,107.0,2009-10-10 00:00:00,440.0,6.0,2009.0,35571641.0,8.689619e+07,4.532795e+07,174.0,319.0,3.0,390.0
75%,2.0,121.0,2012-01-19 00:00:00,1174.0,7.0,2011.0,76336859.0,2.351241e+08,1.471200e+08,278.0,471.0,6.0,586.0
max,33.0,201.0,2071-12-22 00:00:00,9767.0,8.0,2015.0,425000000.0,2.827124e+09,2.544506e+09,321.0,628.0,17.0,787.0
std,2.0,19.0,NaN,1256.0,1.0,8.0,55271158.0,2.969429e+08,2.184179e+08,112.0,181.0,4.0,224.0